@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap');



.slick-arrow {
    background: #fff!important;
    opacity: 1!important;
   
    border-radius: 30px!important;
}
.slick-next , .slick-prev {
    color: #00000045 !important;
}
.styleTitle { 
    font-family: 'Cairo', sans-serif;
}