@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles/globals.css */






.bkBox {
    background: #F5F3ED;
}
.primaryColor {
    color: #9F854E;
}
.mainColor {
    color: #424C61;
}
.bkMainColor {
    background: #424C61;
}
.bkPrimaryColor{
    background: #9F854E;
}
