
  
/* Custom styles for Swiper's Previous and Next buttons */
.swiper-button-prev, .swiper-button-next {
    position: absolute;
    width: 50px!important; /* Change button width */
    height: 50px!important; /* Change button height */
    background-color: #424C61!important; /* Add a semi-transparent black background */
    border-radius: 50%; /* Make the buttons circular */
    color: white!important; /* Change arrow color to white */
    font-size: 20px!important; 
    font-weight: bold;
  }
  
  .swiper-rtl .swiper-button-next {
    left : 50px!important
  }
  
  .swiper-rtl .swiper-button-prev {
    right : 50px!important
  }
  @media(max-width  : 425px){.swiper-rtl .swiper-button-next {
    left : 2px!important
  }}
  @media(max-width  : 425px){.swiper-rtl .swiper-button-prev {
    right : 2px!important
  }}
  .swiper-button-prev:hover, .swiper-button-next:hover {
    background-color: #424C61; /* Darken background on hover */
  }
  
  .swiper-button-prev::after, .swiper-button-next::after {
    font-size: 20px!important; 
  }
  .swiper-button-next::after {
    padding-right: 2px!important;
     font-size: 20px!important; 
  }
  .swiper-button-prev::after {
    padding-left: 2px!important;
     font-size: 20px!important; 
  }
 

  .swiper { 
    position: unset!important;
  }
  .swiper-pagination {
    bottom: -50px!important;
  }
   .swiper-pagination-bullet {
    width: 10px!important;
    height: 10px!important;
  }
  .swiper-pagination-bullet-active {
    background: #9F854E!important;
    width: 13px!important;
    height: 13px!important;
  }
 
.swiper-button-prev svg {
    width: 20px!important;
    height: 20px!important;
  }
  
  .swiper-button-next svg {
    width: 20px!important;
    height: 20px!important;
}