.counterTime > span {
    margin: 5px;
    border: 1px solid #ddd;
    padding: 9px 14px;
    border-radius: 5px;
    display: inline-flex;
    background: #424c6133;
    font-weight: bold;

}
.counterTime > span > span {
    margin-left: 4px;
}
.slick-next, .slick-prev{
    background: #9F854E!important;
    color: #fff!important;
}
.slick-prev::after {
    border-inline-width: 5px 0 !important;
    border-block-width: 5px 0 !important;
    width: 16px !important;
    height: 16px !important;
    left: 12px !important;
    top: 10px !important;
}
.slick-next::after {
    border-inline-width: 5px 0 !important;
    border-block-width: 5px 0 !important;
    width: 16px !important;
    height: 16px !important;
    left: 7px !important;
    top: 10px !important;
}