.counterTime > span {
    margin: 5px;
    border: 1px solid #ddd;
    padding: 9px 14px;
    border-radius: 5px;
    display: inline-flex;
    background: #424c6133;
    font-weight: bold;

}
.counterTime > span > span {
    margin-left: 4px;
}
.slick-next, .slick-prev{
    color: #9F854E!important;
}